@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --youtube: hsl(348, 97%, 39%);
  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(329, 70%, 58%);
  --toggle: hsl(230, 22%, 74%);
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card: hsl(228, 28%, 20%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card: hsl(227, 47%, 96%);
  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top: 10px;
}

.switch input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-image: radial-gradient(hsl(208, 92%, 53%),hsl(163, 72%, 41%));
  /* Night toggle background color */
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode {
  display: flex;
  justify-content: space-between;
}
.topbar h1{
  color: var(--light-text2);
  font-size: 2rem;
  font-weight: bolder;
}
.topbar span{
  color: var(--light-text1);
  font-size: 1.2rem;
  font-weight: bolder;
}
.mode h3{
 color: var(--light-text1);
}
.fb-card{
  background-color: var(--light-card);
  height: 22vh;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  border-top: 4px solid var(--facebook) ;
}
.username{
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: bolder;
  color: var(--light-text1);
}
.followers{
display: grid;
place-content: center;
}
.followers h1{
  font-size: 5rem;
  margin-top: -2px;
  font-weight: bolder;
  color: var(--light-text2);
}
.followers span{
  margin-top: -35px;
  letter-spacing: 5px;
  color: var(--light-text1);
  font-size: 1.3rem;
}
.increase{
  display: flex;
  text-align: center;
  place-content: center;
  font-weight: bolder;
  color: var(--limegreen);
  gap: 5px;
  margin-top: 10px;
  font-size: 1.2rem;
}
.twitter-card{
  background-color: var(--light-card);
  height: 22vh;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  border-top: 4px solid var(--twitter) ;
}
.ig-card{
  background-color: var(--light-card);
  height: 22vh;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  border-top: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--instagram-start), var(--toggle-bg-end));
}
.yt-card{
  background-color: var(--light-card);
  height: 22vh;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  border-top: 4px solid var(--youtube);
}
.decrease{
  display: flex;
  text-align: center;
  place-content: center;
  font-weight: bolder;
  color: var(--brightred);
  gap: 5px;
  margin-top: 10px;
  font-size: 1.2rem;
}